body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 85%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölgeli çerçeve */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}
/* İlk satırın kenarlarını yuvarla */
th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

/* Son satırın kenarlarını yuvarla */
td:first-child {
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-bottom-right-radius: 5px;
}