<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
<h1>User List</h1>
<div class="table-container">
  <table>
    <!-- Tablo içeriği -->
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
    </tr>
  </table>
</div>
</body>
</html>
